PORT=8080
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DBNAME=yourdbname
POSTGRES_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=yourusername
REDIS_PASSWORD=yourpassword

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=yourusername
RABBITMQ_PASSWORD=yourpassword

JWT_SECRET=yourjwtsecret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=24h